.idea
.vscode
.gradle
.classpath
.project
.settings
.metadata
.dbeaver

dist/
node_modules/
target/
build/
out/
logs/

rebel.xml
yarn.lock
package-lock.json
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

*.log
*.iml